/*@import url('https.//fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');*/

@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Prompt", sans-serif;
}
body {
	display: grid;
	background-image: linear-gradient(315deg, #d67d91 0%, #853aa4 20%);
	min-height: 100vh;
}

.bockColor {
	width: 200px;
	height: 200px;
}

.citas {
	font-style: italic;
	padding: 10px;
}
.bolded {
	font-weight: bold;
}

.imgHome {
	width: 10%;
}

footer {
	color: white;
}

.logoDesafio {
	width: 300px;
}

.colortext {
	height: 200px;
	font-style: italic;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bc-01,
.bc-02,
.bc-03,
.bc-04 {
	border: 4px;
	border-style: solid;
	border-color: white;
	border-radius: 2px;
	height: 200px;
	font-style: italic;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
